#home {padding-top:50px;height:1000px;color: #fff; background-color: #1E88E5;}

#portfolio {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}

#contact {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}

